.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navlink{
  font-family: 'Times New Roman', Times, serif;
  font-style: bold;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  font-weight: 200;
  
}
.orderonline{
  background-color: red;
  color:white;
  padding: 10px;
}
.mainimage{
  height: 100%;
  width: 100%;
}
.red{
  background-color: rgb(181, 57, 57);
  color:white;
  padding: 10px;
}
.back{
  text-align: center;
  margin: auto;
  padding:0px;
  width: 150px;
  
  margin-bottom: 20px;
}
.bgweera{
  width:300px;
  font-style: italic;
}
.bglasvegas
{
  width:200px;
}


.locationlist{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  
}
.para{
  text-align: center;
  background-color: rgb(192, 36, 36);
  border:5px dotted yellow;
  margin: 20px;
  color:white;
  padding: 30px;
}
.bg{
  background-color: rgb(198, 41, 41);
  padding:20px;
}
.contentdisplay
{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  
  padding: 20px;
}
.image{
  margin-left: 20px;
  margin-right: 10px;
}
.centerimage
{
  position: relative;
  text-align: center;
  
}
.centertext
{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white; 
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  border:3px solid white;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  animation-name:textexample;
  animation-duration: 2s;
}
@keyframes textexample{
  from{left:0%}
  to{left:50%}
  
}
.navlinks{
  text-decoration: none;
  color: black;
}
.navlinks:hover{
  color: red;
}
/* Mobile-first styles */
@media (max-width:700px)
{
  .navlink{
    display:flex;
    flex-direction: column;
  }
  .contentdisplay{
    display:flex;
    flex-direction: column;
    
  }
  .image{
    margin: auto;
  }
}